* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0B0073, #5A49F4);
}

main {
    height: 100vh;
    width: 100%;
    /*overflow: auto;*/
}

main h1 {
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

.searchContainer{
    padding: 15px;
}

.searchInput{
    margin: auto;
    padding-left: 10px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(233, 233, 233);

    border-radius: 10px;
    border: none;
}

.maxResults{
    margin-left: 5px;
    margin-top: 20px;
    padding-left: 10px;

    margin: auto;
    margin: 10px auto;
    
    width: 115px;
    height: 30px;

    font-size: 20px;
    background-color: rgb(233, 233, 233);

    border-radius: 10px;
    border: none;
}

.resultContainer{
    padding-top: 10px;
    margin-top: 50px;
    background-color: grey;
    height: 450px;
    width: auto;

    overflow-y: scroll;
}

.result{
    font-size: 30px;
}


.searchButton {
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.searchButton:hover {
    background-color: rgb(233, 233, 233);
}

.searchButton:active {
    background-color: rgb(92, 92, 92);
}


.card{
    height: fit-content;
    width: auto;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid black;
}

.twitterUser{
    font-size: 22px;
}

.tweetContent{
    display: block;
    font-size: 17px;
    margin-top: 5px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(160, 160, 160);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}