body{
    margin: 0;
}

.mainDiv{
    height: 100vh;
    width: 100%;
    background-color: aqua;

    overflow: auto;
}

.loginContainer{

    height: 140px;
    width: 340px;
    background-color: rgb(207, 207, 207);

    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

    border-radius: 40%;
}

.inst {

    display: block;

    margin-left: 40px;
    margin-top: 40px;
    color: black;
    font-size: 30px;
}

.email{
    display: block;
}

.fb-container{
    display: inline-block;
    margin-top: 45px;
    margin-left: 45px;
}

.searchContainer{
    height: 600px;
    min-width: 100px;
    max-width: 700px;

    background-color: rgb(200, 200, 200);

    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;


    border-radius: 20px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.438);
}

.searchInput{
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 10px;

    height: 30px;

    font-size: 20px;
    background-color: rgb(233, 233, 233);

    border-radius: 10px;
    border: none;
}

.resultContainer{
    margin-top: 30px;
    background-color: grey;
    height: 450px;
    width: auto;

    overflow-y: scroll;
}

.result{
    font-size: 30px;
}

.fbButton {
    width: 250px;
    height: 50px;
    background-color: white;
    border: none;
    font-size: 20px;

    border-radius: 20px;
}

.fbButton:hover {
    background-color: rgb(228, 228, 228);
}

.fbButton:active {
    background-color: rgb(173, 173, 173);
}


.searchButton {
    width: 250px;
    height: 50px;
    background-color: rgb(246, 152, 152);
    border: none;
    font-size: 20px;
    margin-left: 50px; 

    border-radius: 20px;
}

.searchButton:hover {
    background-color: rgb(231, 129, 129);
}

.searchButton:active {
    background-color: rgb(235, 57, 57);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(160, 160, 160);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}